@import '../../../../assets/styles/colors';

.Navigation {
  background-color: $grey1;
  border-right: 1px solid $grey2;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 200px;
  z-index: 100;
}
