@import '../../../../assets/styles/colors';

.Toolbar {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 200px;

  .Toolbar-item {
    width: 48px;
    height: 48px;
    margin: 2px;

    .Toolbar-button {
      background-color: $white;
      border: none;
      border-radius: 4px;
      color: $grey3;
      cursor: pointer;
      font-size: 16px;
      height: 100%;
      width: 100%;
    
      &.selected {
        background-color: $grey2;
      }
  
      &:not(.selected):hover {
        background-color: $white;
        box-shadow: 0 1px 3px $grey2, 0 1px 2px $grey2;

        &:active {
          background-color: $amber2;
        }
      }

    }
  
  }

}
